.detail_main_wrap{
  margin-top: 16px;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
  width: 1200px;
  margin: 0 auto;
  height: 900px;
  .order_list{
    padding: 10px 20px;
  }
}